<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3> La table des produits </h3>
        <br>
    </div>

    <div class="panel-body">
        <table  class="table table-bordered table-sm" style="width: 50%; border: solid; margin-left: 25%"  >
            <thead>
                <tr>
                  <th>num_serie</th>
                    <th>Equipement</th>
                    <th>Marque</th>
                    <th>suppression</th>
                    <th>Modification</th>


                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produit of produits | async | paginate: { itemsPerPage: 8, currentPage: p }">
                  <td>{{produit.id}}</td>
                    <td>{{produit.equipement}}</td>
                    <td>{{produit.marque}}</td>


                    <td><button  class="btn btn-warning" (click)="deleteProduit(produit.id)"> <i class='fas fa-trash-alt'></i> &nbsp;supprimer</button></td>
                    <td><button  class="btn btn-info" (click)="updateProduit(produit)"> <i class='	fas fa-edit'></i>&nbsp;modifier</button></td>


              </tr>
            </tbody>
        </table>

        <pagination-controls class="myPagination"

        previousLabel ="précédent"
        nextLabel="suivant"
          (pageChange)="p = $event" maxSize="5">

        </pagination-controls>

        <br>
        <button class="btn btn-danger" (click)='deleteProduits()' id="bt1">&nbsp;<i class='fas fa-trash-alt'> &nbsp; EFFCER TOUT  </i> </button> &nbsp;

        &nbsp;  <a class="btn btn-primary" style="color: aliceblue" href="http://localhost:4200/suivi">&nbsp;<i class='fas fa-list'> &nbsp;&nbsp;SUIVI &nbsp; &nbsp; </i></a>



    </div>

</div>
