h3{
  color: red;
  background-color: linen;

}

.divForm{


margin: auto;
}

.form{
text-align: center;
  border: solid;
  border-color: black;

  margin: auto;
padding-left : 30px;
padding-top: 10px;
border-width: 5px;
padding-bottom: 5px;


}
.tt{
  border: solid;
  width: 70%;
}
